*, *::before, *::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   height: 100%;
   width: 100%;
   font-size: 100%;
   margin: 0;
}

body {
   margin: 0;
   padding: 0;
   height: 100vh;
   font-family: 'Inter', sans-serif;
   font-size: $font-size-sm;
   color: $darkBlue;
   background-color: $white;
   font-weight: 300;
   overflow-x: hidden;

   @include break-up($laptop-md){
      font-size: $font-size;
   }

   &::after {
      content: "";
      position: fixed;
      bottom: 0;
      z-index: -1;
      min-height: 4rem;
      width: 100%;
      background-image: url('../../images/pattern-curve.svg');
      background-size: cover;
      background-repeat: no-repeat;

      @include break-up($laptop-md){
         min-height: 10rem;
         left: -150px;
      }
   }
}

h1, h2 {
   font-weight: 700;
   font-size: $font-size-sm;

   @include break-up($laptop-md){
      display: inline-block;
   }
}

h1 {
   margin-top: 1.75rem;
}

p {
   line-height: 1.5;
}

h2 {
   margin-top: 0.625rem;
   font-weight: 300;
   color: $grayishBlue;
}

.hide {
   display: none !important;
}

.fade {
   animation: fade-slide 500ms ease-in-out;
}