.slideshow {
   margin: 10%;
   padding: 1rem 0 1rem 0;

   &-slide{

      &-image{
         position: relative;
         display: flex;
         justify-content: center;
         
         &::before {
            content: "";
            position: fixed;
            z-index: -1;
            height: 311px;
            width: 330px;
            background-image: url('../../images/pattern-bg.svg');
            background-size: cover;
            background-repeat: no-repeat;
            transform: translateY(-2rem);
         }

         > img {
            border-radius: 10px;
            max-height: 15.875rem; // 254px
            max-width: 15.875rem; // 254px
            box-shadow: 0px 3px 20px 10px $grayishBlue;
         }

         &-btn{
            position: absolute;
            bottom: -20px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            height: 40px;
            width: 80px;
            background-color: $white;
            border-radius: 30px;
            
            a {
               img {
                  display: block;
                  margin: auto;
               }
            }
         }
      }

      &-text {
         margin-top: 5.375rem;
         text-align: center;

         &::before {
            content: "";
            position: fixed;
            z-index: -1;
            height: 50px;
            width: 60px;
            background-image: url('../../images/pattern-quotes.svg');
            background-size: cover;
            background-repeat: no-repeat;
            transform: translate(-1rem, -1rem);
         }
      }
   }
}